body
{
    top:0;
    margin: 0;
    padding: 0;
}
/*第一部分*/
header
{
    width: 10000px;
    height: 29px;
    background-color: #FAFAFA;
}
.header-inner
{
    width: 1245px;
    height: 29px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    color: #6C6C6C;
}
.header-inner a
{
    text-decoration: none;
    color: #6C6C6C;
}
.img1 img
{
    width: 21px;
    height: 19px;
    margin-right: 10px;
}
.img2 img
{
    width: 15px;
    height: 19px;
}
.inner1
{
    margin-left: 44px;
}
.inner2
{
    margin-left: 507px;
}
.inner3
{
    margin-left: 14px;
    margin-right: 14px;
}
.inner4
{
    margin-left: 14px;
    margin-right: 6px;
}
.inner5
{
    margin-right: 5px;
}
.inner6
{
    margin-left: 6px;
    margin-right: 6px;
}
.inner7
{
    margin-right: 5px;
}
.phone img
{
    position: relative;
    top:4px;
}
.phone
{
    position: relative;
    top:-2px;
    left:-8px;
}
.phonenum
{
    font-size: 13px;
}
.img1 i
{
   position: relative;
    top:-5px;
    left:-9px;
}
.imgphone img
{
    position: relative;
    top:3px;
}
/*第二部分*/
.top
{
   width: 1256px;
   height: 79px;
   border: 1px solid black;
   /*background-color: #F5F5F5;*/
}
.logo
{
    position: relative;
    top:4px;
    left:19px;
}
.logo1
{
    position: relative;
    top:4px;
    left:771px;
}
/*第三部分*/
.search
{
    width: 10000px;
    height: 45px;
    background-color: #DD3377;
}
.search-inner
{
    width: 1256px;
    height: 45px;
    border: 1px solid black;
}
.search-inner li
{
    width: 10px;
    height: 45px;
    display: inline-block;
}